@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900&display=swap');
body {
    margin: 0;
    background-color: #F6F0F0;
    font-family: 'Montserrat', sans-serif;
    font-size: 400;
}
#grandient_home_html {
    width: 100%;
    height: 500px;
    background: rgb(255,60,172);
    background: linear-gradient(225deg, rgb(247, 99, 0) 0%, rgb(151, 19, 19) 100%); 
}
#wave_home_html {
    position: relative;
    height: 1080px;
    width: 100%;
    background-image: url("../images/waves_css.png");
    background-size: contain;
    background-repeat: no-repeat;
    top: -120px;
}
#titre1_html {
    margin: 0;
    font-weight: 900;
    font-size: 75px;
    text-align: center;
    position: relative;
    top: 100px;
}
