@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900&display=swap');
body {
    margin: 0;
    background-color: #F6F0F0;
    font-family: 'Montserrat', sans-serif;
    font-size: 400;
}
#gradient_home {
    width: 100%;
    height: 900px;
    background: rgb(250,172,168);
    background: -moz-linear-gradient(90deg, rgba(250,172,168,1) 0%, rgba(221,214,243,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(250,172,168,1) 0%, rgba(221,214,243,1) 100%);
    background: linear-gradient(90deg, rgba(250,172,168,1) 0%, rgba(221,214,243,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#faaca8",endColorstr="#ddd6f3",GradientType=1); 
}
#wave {
    background-image: url("../../background_wave.png");
    width: 100%;
    height: 1000px;
    position: relative;
    top: 150px;
}
#nom {
    font-weight: 700;
    font-size: 25px;
    margin-left: 50px;
    position: absolute;
    top: 10px;
}
#titre_coding {
    margin: 0;
    font-weight: 900;
    font-size: 75px;
    text-align: center;
    position: relative;
    top: 250px;
}
#sommaire {
    text-align: center;
    position: relative;
    font-size: 60px;
    top: -200px;
}
#menu_sommaire {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: -115px;
}
.container_menu_sommaire {
    width: 300px;
    height: 300px;
    border-radius: 25px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 14px grey;
    color: black;
}
.container_menu_sommaire:hover {
    transition-duration: 0.2s;
    width: 320px;
    height: 320px;
    margin-top: -5px;
    box-shadow: 1px 1px 24px grey;
}
.container_menu_sommaire:active {
    transition-duration: 0.2s ease;
    width: 300px;
    height: 300px;
    background-color: royalblue;
    color: white;
    /* margin-top: 15px; */
}
.container_menu_sommaire i {
    display: flex;
    justify-content: center;
    margin-top: 45px;;
}
.container_menu_sommaire span {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-weight: 800;
    font-size: 40px;
}
